<div class="card">
  <div class="card-header">
    <h3>Student Login</h3>
    <form [formGroup]="loginForm">
      <div class="form-group col-md-4">
        <label>Username</label>
        <input type="text" formControlName="username" class="form-control" />
      </div>
      <div
        *ngIf="loginForm.controls['username'].errors != null && loginForm.controls['username'].invalid && (loginForm.controls['username'].dirty || loginForm.controls['username'].touched)"
        class="alert alert-danger">
        <div *ngIf="loginForm.controls['username'].errors['required'] != null">
          Usersername is required.
        </div>
      </div>

      <div class="form-group col-md-4">
        <label>Password</label>
        <input type="text" formControlName="password" class="form-control" />
      </div>
      <div
        *ngIf="loginForm.controls['password'].errors != null && loginForm.controls['password'].invalid && (loginForm.controls['password'].dirty || loginForm.controls['password'].touched)"
        class="alert alert-danger">
        <div *ngIf="loginForm.controls['password'].errors['required'] != null">
          Password is required.
        </div>
      </div>
      
      <div class="form-group col-md-4">
        <input type="submit" value="Login" (click)="login()" [disabled]="loginForm.pristine || loginForm.invalid">
      </div>
    </form>
    <h4 *ngIf="error" style="color: red;">{{error}}</h4>  
  </div>
</div>